
.homecontactos {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(/public/Imagenes/panorama2.webp) no-repeat;
    background-size: cover;
    background-position: center;

}


.homecontactos .contenido {
    max-width: 65rem;
    min-height: 245px;
    width: 80%;
    height: auto;
    flex-shrink: 0;
    border-radius: 55px;
    background: rgba(217, 217, 217, 0);
    box-shadow: 0px 45px 50px 0px rgba(0, 0, 0, 0.25), 43.6px -43.6px 43.6px 0px rgba(165, 165, 165, 0.10) inset, -43.6px 43.6px 43.6px 0px rgba(255, 255, 255, 0.10) inset;
    backdrop-filter: blur(43.599998474121094px);
}

.homecontactos .contenido h3 {
    font-size: 6rem;
    text-transform: uppercase;
    color: white;
    margin-left: 20px;
}

.homecontactos .contenido span{
    color: gray;
}


.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.left-half, .right-half {
    flex: 1;
    height: 300px;
}

.left-half {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #FD8103;
}

.right-half {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #f3f2f0;
}

.contactos {
    min-height: 45vh;
    display: flex;
    align-items: center;
    background: var(bg);
    background-size: cover;
    background-position: center;
}

.contactos .container h1 {
    font-size: 4rem;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    margin-left: 40px;
    text-shadow: 8px 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    
}
.contactos .container p {
    font-size: 1.5rem;
    line-height: 1.2;
    padding: 1rem 0;
    color: #ffffff;
    margin-left: 90px;
    text-shadow: 8px 4px 8px rgba(0, 0, 0, 0.1);
    
}

.phone-icon-text {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 5%;
    font-size: large;
}

.mail-icon-text {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 5%;
    font-size: large;
}

.icon {
    margin-right: 10px;
    font-size: 18px;
}


.infocontactos .contenido p2{
    font-size: 2rem;
    line-height: 3;
    padding: 1rem 0;
    color: #ffffff;
    margin-left: 290px;
    max-width: 65rem;
    min-height: 245px;
    width: 80%;
    height: auto;
    flex-shrink: 0;
    border-radius: 55px;
    background: rgba(217, 217, 217, 0);
    box-shadow: 0px 45px 50px 0px rgba(0, 0, 0, 0.25), 43.6px -43.6px 43.6px 0px rgba(165, 165, 165, 0.10) inset, -43.6px 43.6px 43.6px 0px rgba(255, 255, 255, 0.10) inset;
    backdrop-filter: blur(43.599998474121094px);
}

.right-half h2 {
    font-size: 4rem;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    margin-left: 60px;
    margin-top: 20px;
    text-shadow: 8px 4px 8px rgba(0, 0, 0, 0.1);
}

.contactos .container p1 {
    font-size: 1.5rem;
    line-height: 1.2;
    padding: 1rem 0;
    color: #FD8103;
    margin-left: 80px;
    text-shadow: 8px 4px 8px rgba(0, 0, 0, 0.1);
    
    
}

.commentcontactos {
    min-height: 45vh;
    display: flex;
    align-items: center;
    background:rgb(255, 255, 255);
    background-size: cover;
    background-position: center;
}

.commentcontactos p1 {
    font-size: 2rem;
    line-height: 1.8;
    padding: 1rem 0;
    color:var(0, 0, 0);
    margin-left: 525px;
}