:root {
    --main-color: #FD8103;
    --black: #13131a;
    --bg: #E9E9E8;
    --border: .1rem solid rgba(0, 0, 0, 0.3);
}

.homedestino {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(/public/Imagenes/vista.webp) no-repeat;
    background-size: cover;
    background-position: center;

}

.homedestino .contenido {
    max-width: 70rem;
    min-height: 245px;
    height: auto;
    flex-shrink: 0;
    border-radius: 55px;
    background: rgba(217, 217, 217, 0.03);
    box-shadow: 0px 45px 50px 0px rgba(0, 0, 0, 0.25), 43.6px -43.6px 43.6px 0px rgba(165, 165, 165, 0.10) inset, -43.6px 43.6px 43.6px 0px rgba(255, 255, 255, 0.10) inset;
    backdrop-filter: blur(43.599998474121094px);
}

.homedestino .contenido h3 {
    font-size: 6rem;
    text-transform: uppercase;
    color: white;
    margin-left: 20px;
}

.homedestino .contenido p {
    font-size: 2rem;
    line-height: 1.8;
    padding: 1rem 0;
    color: #ffffff;
    margin-left: 20px;
}

.sabasnieves {
    min-height: 45vh;
    display: flex;
    align-items: center;
    background: var(--main-color);
    background-size: cover;
    background-position: center;
}

.sabasnieves .contenido {
    max-width: 90rem;
    min-height: 245px;
    height: auto;
    width: 850rem;
    width: 650rem;
    flex-shrink: 0;
    border-radius: 55px;
    background: rgba(217, 217, 217, 0.03);
    box-shadow: 0px 45px 50px 0px rgba(0, 0, 0, 0.25), 43.6px 
    -43.6px 43.6px 0px rgba(165, 165, 165, 0.10) inset, -43.6px 43.6px 43.6px 0px rgba(255, 255, 255, 0.10) inset;
    backdrop-filter: blur(43.599998474121094px);
    position: relative;
    
}

.sabasnieves .contenido img {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    max-width: 400px; 
    border-radius: 10%; 
    height: 35rem;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25)
}

.sabasnieves .contenido h3 {
    font-size: 6rem;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    margin-left: 20px;
}

.sabasnieves .contenido p {
    font-size: 2rem;
    line-height: 1.8;
    padding: 1rem 0;
    color: #000000;
    margin-left: 20px;
}


.humboldt {
    min-height: 45vh;
    display: flex;
    align-items: center;
    background: var(--main-color);
    background-size: cover;
    background-position: center;


}

.humboldt .contenido {
    max-width: 90rem;
    min-height: 245px;
    height: auto;
    width: 850rem;
    width: 650rem;
    flex-shrink: 0;
    border-radius: 55px;
    background: rgba(217, 217, 217, 0.03);
    box-shadow: 0px 45px 50px 0px rgba(0, 0, 0, 0.25), 43.6px -43.6px 43.6px 0px rgba(165, 165, 165, 0.10) inset, -43.6px 43.6px 43.6px 0px rgba(255, 255, 255, 0.10) inset;
    backdrop-filter: blur(43.599998474121094px);
    position: relative;
    
}

.humboldt .contenido img {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    max-width: 400px; 
    border-radius: 10%; 
    height: 35rem;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25)
}

.humboldt .contenido h3 {
    font-size: 6rem;
    text-transform: uppercase;
    color: white;
    margin-left: 20px;
}

.humboldt .contenido p {
    font-size: 2rem;
    line-height: 1.8;
    padding: 1rem 0;
    color: #000000;
    margin-left: 20px;
}


.Picooriental {
    min-height: 45vh;
    display: flex;
    align-items: center;
    background: var(--main-color);
    background-size: cover;
    background-position: center;
}

.Picooriental .contenido {
    max-width: 90rem;
    min-height: 245px;
    height: auto;
    width: 850rem;
    width: 650rem;
    flex-shrink: 0;
    border-radius: 55px;
    background: rgba(217, 217, 217, 0.03);
    box-shadow: 0px 45px 50px 0px rgba(0, 0, 0, 0.25), 43.6px -43.6px 43.6px 0px rgba(165, 165, 165, 0.10) inset, -43.6px 43.6px 43.6px 0px rgba(255, 255, 255, 0.10) inset;
    backdrop-filter: blur(43.599998474121094px);
    position: relative;
    
}

.Picooriental .contenido img {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    max-width: 400px; 
    border-radius: 10%; 
    height: 35rem;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25)
}


.Picooriental .contenido h3 {
    font-size: 6rem;
    text-transform: uppercase;
    color: white;
    margin-left: 20px;
}

.Picooriental .contenido p {
    font-size: 2rem;
    line-height: 1.8;
    padding: 1rem 0;
    color: #000000;
    margin-left: 20px;
}

.piconaiguata {
    min-height: 45vh;
    display: flex;
    align-items: center;
    background: var(--main-color);
    background-size: cover;
    background-position: center;
}

.piconaiguata .contenido {
    max-width: 90rem;
    min-height: 245px;
    height: auto;
    width: 850rem;
    width: 650rem;
    flex-shrink: 0;
    border-radius: 55px;
    background: rgba(217, 217, 217, 0.03);
    box-shadow: 0px 45px 50px 0px rgba(0, 0, 0, 0.25), 43.6px -43.6px 43.6px 0px rgba(165, 165, 165, 0.10) inset, -43.6px 43.6px 43.6px 0px rgba(255, 255, 255, 0.10) inset;
    backdrop-filter: blur(43.599998474121094px);
    position: relative;
}

.piconaiguata .contenido img {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    max-width: 400px; 
    border-radius: 10%; 
    height: 35rem;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25)
}

.piconaiguata .contenido h3 {
    font-size: 6rem;
    text-transform: uppercase;
    color: white;
    margin-left: 20px;
}

.piconaiguata .contenido p {
    font-size: 2rem;
    line-height: 1.8;
    padding: 1rem 0;
    color: #000000;
    margin-left: 20px;
}





@media (max-width: 768px) {
    .humboldt, .Picooriental, .piconaiguata, .sabasnieves  {
        flex-direction: column;
        align-items: flex-start;
    }

    .humboldt .contenido, .Picooriental .contenido, .piconaiguata .contenido, .sabasnieves .contenido {
        width: 100%;
        max-width: 100%;
        padding: 20px;
        box-shadow: none;
    }

    .humboldt .contenido img, .Picooriental .contenido img, .piconaiguata .contenido img, .sabasnieves .contenido img {
        position: static;
        transform: none;
        max-width: 100%;
        height: auto;
        margin-top: 20px;
    }

    .humboldt .contenido h3, .Picooriental .contenido h3, .piconaiguata .contenido h3, .sabasnieves .contenido h3 {
        font-size: 4rem;
    }

    .humboldt .contenido p, .Picooriental .contenido p, .piconaiguata .contenido p, .sabasnieves .contenido p {
        font-size: 1.6rem;
    }

    .homedestino {
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .homedestino .contenido h3 {
        font-size: 4.5rem;
    }

    .homedestino .contenido p {
        font-size: 1.5rem;
    }

    .homedestino .contenido {
        max-width: 40rem;
        min-height: 150px;
        height: auto;
        width: 500px;
        flex-shrink: 0;
    }

}

.homereservas {
    min-height: 140vh;
    display: flex;
    align-items: center;
    background: url(/public/Imagenes/Jardin.jpg) no-repeat;
    background-size: cover;
    color:white;
    margin-left: 20px;
    background-position: left;
    justify-content: left;
    text-align: center;
}

.homereservas .contenido {
    max-width: 50rem;
    min-height: 150px;
    height: auto;
    width: 500px;
    flex-shrink: 0;
    border-radius: 55px;
    background: rgba(217, 217, 217, 0.03);
    box-shadow: 0px 45px 50px 0px rgba(0, 0, 0, 0.25), 43.6px -43.6px 43.6px 0px rgba(165, 165, 165, 0.10) inset, -43.6px 43.6px 43.6px 0px rgba(255, 255, 255, 0.10) inset;
    backdrop-filter: blur(43.599998474121094px);
}

.homereservas .contenido h3 {
    font-size: 6rem;
    text-transform: uppercase;
    color: white;
    margin-left: 20px;

}

.homereservas .contenido p {
    font-size: 2rem;
    line-height: 1.8;
    padding: 1rem 0;
    color: white;
    margin-left: 20px;
    
}


.contactoreserva {
    background-color: #e77402;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
    border-radius: 55px;
}

.textoreserva {
    text-align: center;
    margin-bottom: 20px;
    background-color: #ff8000dd;
    box-shadow: #000000;
    border-radius: 55px;
}

.contactoR1 h3, .contactoR2 h3 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.contactoR2 h3 {
    font-weight: normal;
    color: #666;
}

.datosreserva {
    margin-top: 20px;
}

.formulario {
    flex-direction: column;
    background-color: #fff;
    border-radius: 55px;
    
}

.campo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.campo label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

.campo input[type="text"],
.campo input[type="email"],
.campo input[type="tel"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.opciones {
    display: flex;
    align-items: center;
    gap: 10px;
}

.opciones input[type="checkbox"] {
    margin: 0;
}

.opciones label {
    font-size: 12px;
    color: #FD8103;
}

.button {
    padding: 10px 50px;
    background-color: #FD8103;
    color: white;
    border: none;
    border-radius: 55px;
    font-size: 16px;
    cursor: pointer;
    width: 30%;
    margin: 0 auto;
    border: #000000;
}

.imagen {
    width: 40vh;
}

.paypal {
    display:flex;
    gap:10px;
    align-items: flex-start;
}

.masmenos{
    background-color: orange;
    color: white;
    border: none;
    cursor: pointer;
    width: 15px;
    max-width: 20px;
    align-items: center;
}


.inforeservas {
    display: flex;
    flex-direction:row;
    gap: 50px;
    max-width: 90%;
    margin: 20px auto;
    justify-content: center;
}

.imagenlogos {
    width: 8vh;
}

.infotexto {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.naranja {
    background-color:  #FD8103;;
    padding: 10px;
    text-align: center;
    color: white;
}

.naranja h4 {
    margin: 0;
    font-size: 18px;
}

.blanco {
    padding: 15px;
}

.cuadroblanco {
    margin-bottom: 15px;
}

.cuadroblanco p {
    margin: 5px 0;
    font-size: 14px;
    color: #FD8103;
}

.cuadroblanco p1 {
    font-weight: bold;
    color: #555;
}

.boton-paypal {
    background-image: url('Imagenes/logo-paypal.png');
    background-size: cover;
    background-position: center;
    width: 150px; 
    height: 50px; 
    border: none;
    cursor: pointer;
    font-size: 16px; 
    text-align: center; 
    padding-left: 40px; 
    background-color: #e77402;
}

.masmenos {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #e77402;
    color: white;
    border-radius: 5px;
    margin: 0 10px;
  }
  
.numero {
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    min-width: 50px;
    text-align: center;
  }